*{
     margin: 0;
     padding: 0;
 }
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    margin: 0;
}
.clear{
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
.content{
    background: url("../img/BG.jpg");
    background-size: cover;
    height: 1200px;
}
img{
    margin-left: 400px;
}
#nameone{
    font-size: 45px;
    font-family: Tahoma;
    text-align: center;
    margin-top: 150px;
}
.btn{
    font-size: 22px;
    font-family: sun;
    width:200px;
    height: 80px;
    margin-left: 320px;
    margin-top: 220px;
    transition-duration:0.5s ;
    background-color: white;
    border: 2px solid black;
}
.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
    color: white;
}
